<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sot.project.dao.mapper.CommentMapper">

  <sql id="table_name">
    comment
  </sql>

  <sql id="all_fields">
    id,create_time,update_time,user_id,information_id,content,urls,type
  </sql>

  <resultMap id="resultMap" type="CommentDO">
    <id column="id" property="id"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
    <result column="user_id" property="userId"/>
    <result column="information_id" property="informationId"/>
    <result column="content" property="content"/>
    <result column="urls" property="urls"/>
    <result column="type" property="type"/>
  </resultMap>

  <insert id="insertComment">
    insert into
    <include refid="table_name"/>
    (<include refid="all_fields"/>)
    values
    (
    #{id},
    #{createTime},
    #{updateTime},
    #{userId},
    #{informationId},
    #{content},
    #{urls},
    #{type}
    )
  </insert>

  <select id="queryCommentSByUserId" resultMap="resultMap">
    select
    <include refid="all_fields"/>
    from
    <include refid="table_name"/>
    where 1 = 1
    <if test="userId!=null">
      and user_id = #{userId}
    </if>
  </select>
  <select id="queryCommentSByInformationId" resultMap="resultMap">
    select
    <include refid="all_fields"/>
    from
    <include refid="table_name"/>
    where 1 = 1
    <if test="informationId!=null">
      and information_id = #{informationId}
    </if>
  </select>

</mapper>